.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: #fff;
    }
}